.bg_login {
	background-image: url(/src/resource/media/img/backgraundLogin.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	overflow: hidden;
	margin: 0 auto;
	padding: 2rem 0;
	align-items: center;
	min-height: 100vh;
}


.login_form_img{
    height: 1.2rem;
}

.card_login{
    border: 0.2rem #c9932e solid;
    border-radius: 8%;
	background-color: rgb(232, 182, 89, 0.5);
	width: 50%;
}
.input-group-text{
    background-color: rgb(201, 147, 46, 0.5);
}
.button-login{
	background-color: #c9932e ;
	color: #fff;
	border: 2px solid #8a631c;
	border-radius: 10px;
	
}
.form-check-input[type=checkbox] {
    background-color: #8a631c;
    border-radius: .25em;
	border-color: #8a631c solid;
}