.estilos-titulo-about {
	max-width: 940px;
	font-weight: 700;
	line-height: 1.1;
	margin: 40px 0;
}

.App {
	min-height: 100vh;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.contenedor-principal {
	min-height: 600px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}