.form-label,
.contact__textarea__mensaje {
	color: var(--font-color-primary);
}

form div .form-control {
	border-color: var(--font-color-primary);
	border-radius: 0;
	border-bottom: 1px solid var(--font-color-primary);
}

.contact__form__btnSubmit {
	background-color: var(--font-color-primary);
	color: var(--color-background);
}

.contact__form__btnSubmit:hover,
.contact__form__btnSubmit:active {
	background-color: var(--font-color-tertiary);
	color: var(--color-background);	
	transition: all 0.5s ease-in-out;
}

.contact__sucursales {
	height: 15rem;
}

.contact__sucursales__text {
	background-color: var(--font-color-tertiary);
	opacity: 0.9;
}

.contact__sucursales__text p {
	font-family: var(--font-secundaria);
}

@media screen and (min-width: 768px) {
	.form-label,
	.contact__textarea__mensaje {
		font-size: 1.2rem;
	}
}

.button-enviar{
	background-color: #c9932e ;
	color: #fff;
	border: 2px solid #8a631c;
	border-radius: 10px;
	
}

.icono-contacto{
	color: var(--font-color-primary);
}

.input-contacto{
	background-color: var(--bottom-color-beige);
}

/* Sweet Alert*/

/* div:where(.swal2-container).swal2-center>.swal2-popup {
	background-color:#efe7df ;
	border: 3px solid #8A6113 ;
	border-radius: 10%;
    grid-column: 2;
    grid-row: 2;
    place-self: center center;
}

div:where(.swal2-container) img:where(.swal2-image) {
    max-width: 100%;
    align-items: center;
	border-radius: 30%;
}


div:where(.swal2-container) h2:where(.swal2-title) {
	font-family: var(--font-family-title);
	font-size: var(--font-size-title);
	color: var(--font-color-primary);
	text-decoration: none; 
}

.swal2-container h2.swal2-title {
	font-family: var(--font-family-title);
	font-size: var(--font-size-title);
	color: var(--font-color-primary);
}

.swal2-html-container {
   
	font-family: var(--font-family-subtitle);
	font-size: var(--font-size-subtitle);
	
}
.swal2-html-container p {
	color: #8A6113; 
  } */
