.container-con-fondo {
    position: relative;

    background-size: cover;
    background-position: center;
    min-height: 10vh;
    
    box-shadow: 0 0 10px rgb(0, 0, 0);
    /* filter: grayscale(50%) blur(5px); */
    /* opacity: 0.9; */
}

.btn-mapa{
    text-shadow: 1px 1px 5px black;
}


.btn-mapa:hover{
    
    text-shadow: 1px 1px 5px #8a6113; 
}

.sombreado{
    text-shadow: -5px 5px 5px black; 
}

.redes-sociales{
    /* color: #8a6113; */
    color: var(--bg-color-white);
}

.color-NoTitulosNiSub{
    color: #c29747;
    
}

.bi-instagram:hover {
    background: radial-gradient(
      circle at 30% 107%,
      #fdf497 0%,
      #fdf497 5%,
      #fd5949 45%,
      #d6249f 60%,
      #285aeb 90%
    );

    /* background: radial-gradient(
      circle at 30% 107%,
      white 0%,
      white 5%,
      white 45%,
      white 60%,
      white 90%
    ); */

    -webkit-background-clip: text;
  
    background-clip: text;
    -webkit-text-fill-color: transparent;

    transition:all 5s;
  }

  .bi-facebook{
    font-size: 20px;
  }

  .bi-facebook:hover{
    color: #365fb8;
    /* color: white; */
    transition:all 1s;
  }

  .bi-youtube:hover{
    color: #FF0000;
    /* color: white; */
    transition:all 1s;
  }

  .bi-twitter:hover{
    color: #1DA1F2;
    transition:all 1s;
  }



